@import './common';
@import './example';
<<<<<<< HEAD

#search-box {
  width: 100%;
  padding: 12px;
  font-size: 16px;
}

.country {
  display: flex;
  gap: 32px;
  align-items: flex-start;
}
=======
>>>>>>> e50280fbd87ea17280ae3fca68d8c66d47ab481d
